#table{
    width: 500px;
    margin: 50px auto;
    border: 2px solid rgb(96, 197, 135);
    border-radius: 2px;
}
table{
    text-align: center;
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;


}
thead{
    background-color: rgb(96, 197, 135);
    border-top: none;
    font-size: 18px;
}
tbody{
    border: none;
}
th{
    border: 2px solid rgb(96, 197, 135);
    padding: 5px;
}
td{
    border: 2px solid rgb(96, 197, 135);
    border-bottom: 2px solid rgb(96, 197, 135);
    padding: 2px;
}
tr:nth-child(even){
    background-color: rgba(240, 248, 255, 0.329);
}

/*table tr td:nth-child(5) {
    border: none;
}
table tr td:nth-child(6) {
    border: none;
}*/