*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: 'Do Hyeon', sans-serif;
    color: rgb(49, 49, 49);
    background: whitesmoke;
}
a{
    text-decoration: none;
}
header{
    background: white;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom:  1px solid rgb(221, 221, 221);
    box-shadow: 0px 1px 5px 0px rgba(39, 39, 39, 0.226);
    width: 100%;


}
header button{
    margin: 5px;
    width: 150px;
    height: 50px;
    background: transparent;
}
header button img{
    width: 145px;
    height: 48px;
    transition: .4s;
}
header button img:hover{
    position: relative;
    transform: scale(1.02);
    cursor: pointer;
}


/*---------------------------------Container-------------------------------*/
main{

    padding: 10px;
}
main #container{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
main #container h1{
    margin: 5px 0px;
    width: 100%;
    background: white;
    border-radius: 3px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}
main #container .data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1050px;
    padding: 10px;
    margin: 5px 0px;
}

main #container .data div{

    width: 180px;
    height: 80px;
    text-align: center;
    margin: 0px 20px;
    padding: 5px;
    border-radius: 5px;

}
main #container .data  div h2{
    padding: 18px;
}
main #container .data .infected{
    background: rgba(247, 212, 205);
}
main #container .data .infected h2{
    color: rgb(227, 64, 27);
    font-family: 'Inter', sans-serif;
}

main #container .data .recovered{
    background: rgba(197, 232, 215);
}
main #container .data .recovered h2{
    color: rgb(63, 186, 123);
    font-family: 'Inter', sans-serif;
}
main #container .data .deceased{
    background: rgba(222, 222, 222);
}
main #container .data .deceased h2{
    color: rgb(125, 125, 125);
    font-family: 'Inter', sans-serif;
}
main #container .data .active{
    background: rgba(190, 217, 237);
}
main #container .data .active h2{
    color: rgb(21, 135, 207);
    font-family: 'Inter', sans-serif;
    
}
main #container .data .discarded{
    background: rgb(235, 205, 247);
}
main #container .data .discarded h2{
    color: rgb(156, 48, 199);
    font-family: 'Inter', sans-serif;
}

main #container .data .lethality{
    background: rgb(161, 161, 161);
}
main #container .data .lethality h2{
    color: rgb(22, 22, 22);
    font-family: 'Inter', sans-serif;
}


main #container .graphics{
    width: 1050px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin: 20px 0px;
}
main #container .graphics div{
    text-align: center;
    background: white;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(27, 27, 27, 0.3);
    width: 425px;
}

main #container .graphics canvas{
    width: 400px !important;
    height: 200px !important;
}
main #container .covInfo{
   display: flex;
   flex-direction: column;
   font-family: 'Red Hat Display', sans-serif;
   padding: 20px 10px;

   width: 1050px;

}
main #container .covInfo p{
    text-align: justify;
}
main #container .covInfo h2{
    margin: 0px 0px 5px 0px;

}
main #container .covInfo ul{
    margin: 5px 50px;
    text-align: justify;
}


main #container .form{
    display: flex;
    justify-content: center;
}
main #container .form #form{
    background: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    padding: 20px;
    width: 270px;
    text-align: center;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    border: 1px solid rgb(195, 223, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px rgb(211, 227, 255);
    color: rgb(71, 79, 88);
}

main #container .form #form i{
    color: rgb(65, 65, 65);
    font-size: 12px;
    padding: 3px 7px;
}
main #container .form #form input{
    height: 25px;
    width: 200px;
    border-radius: 3px;
    font-size: 10px;
    background: whitesmoke;
    border: 1px solid rgb(217, 235, 255);
    box-shadow: 2px 2px 10px 1px rgb(211, 227, 255);
    margin: 0px auto 20px auto;
    padding: 0px 10px;
    
}

main #container .form #form button{
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 20px;
    background: whitesmoke;
    color: rgb(107, 147, 194);
    border: 1px solid rgb(206, 220, 236);
    border-radius: 4px;
    transition: 0.3s;
}
main #container .form #form button:hover{
    background-color: rgba(142, 206, 235, 0.774);
    border: 1px solid rgb(193, 255, 203);
    color: white;
    cursor: pointer;
}
main #container .form #form button:active{
    background-color: rgb(142, 235, 158);
    border: 1px solid rgb(193, 227, 255);
}




